* {
  margin: 0%;
  padding: 0%;
}

.parafonts {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 200;
  color: black;
}

.headfonts {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: black;
}

nav {
  margin: 1em;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* navigation ul   */
nav ul {
  margin-left: auto;
  /* border: 2px solid red; */
}

/* navigation  menu items-li contained within ul */
nav li {
  display: inline;
  list-style: none;
  padding-left: 1em;
}

/* navigation's <a> tag within li and main's Read more text having <a> tag*/
a {
  text-decoration: none;
}
